$primary: #161616;
$secondary: #b00c3d;
$font1: Roboto, Arial, Verdana;
$fontColor1: rgb(255, 255, 255);

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}


body {
    background-color: $primary;
    .principal {
        text-align: center;
    }
}

.navbar {
    background-color: $primary;
    box-sizing: border-box;
    box-shadow: 0 1px 10px #161616;
    position: fixed;
    .navbar-nav {
        padding-left: 80%;
        width: auto;
        .nav-item {            
            .nav-link {
                color: $fontColor1;

                &:hover {
                    color: $secondary;
                }
            }
        }
    }
}


footer {
    text-align: center;
    bottom: 0;
    box-sizing: border-box;
    box-shadow: 0 0 10px #161616;
    position: fixed;
    width: 100%;
    background-color: $primary;
    color: $fontColor1;
    h3 {
        font-size: 22px;

    }
}

@media (min-width: 300px) and (max-width: 1920px) {
    
}